body {
    font-family: 'Mukta Malar', sans-serif;
}

.logo {
    width:100%;
    height: 120px;
    background-color: #7B238A;
    display: flex;
    justify-content: center;
}
.logo img {
    max-width: 90%;
    height: auto;
    padding: 20px 0 30px 0;
}

.background img {
    width: 100%;
    top: 120px;
    height: 850px;
}
.overlay {
    position: absolute;
    top: 120px;
    width: 99%;
    background-color: rgba(123,35,137, 0.3);
    height: 138%;
}

.welcome p {
    position: absolute;
    top: 200px;
    width: 100%;
    display:flex;
    justify-content: center;
    color: white;
    font-size: 5em;
    font-weight: 900;
}

.people {
    max-width: 100%;
    margin:  auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.person {
    padding: 10px;
    margin: 10px;
    flex-basis: 40%;
    background-color: #D5C0D9;
    font-size: 1.5em;
    font-weight: bold;
 }

 .person td {
    padding: 0 20px 0 20px;
 }

 .hearts {
    font-size: 2em;
 }

.profile img {
    height: 20%;
 }

 .age{
    font-size: 1.2em;
 }


@media (min-width: 600px) {
    .people {
        display: flex;
        justify-content: space-between;
    }
}

button {
    font-family: 'Mukta Malar', sans-serif;
    font-size: 1em;
    font-weight: bold;
    background-color: #96CCC4;
    border-radius: 10px;
}

.footer {
    display: flex;
    justify-content: center;
    padding: 20px 0 30px 0;
    bottom:0;
}

.footer img {
    width: auto;
    height: auto;
}